<mat-card-footer
  class="social-links-footer text-center flex justify-center border-t-2 p-1.5 -mb-1"
>
  <app-social-links [freelancer]="freelancer" />
</mat-card-footer>

<!--
<mat-card-footer
  class="social-links justify-center flex text-center border-t-2 p-1"
>

  <a
    [href]="freelancer.socialLinks.linkedin"
    target="_blank"
    class="hover:text-custom-blue text-custom-purple"
  >
    <ng-icon name="hugeLinkedin01" size="20" class="ml-1" />
  </a>
  <a
    class="hover:text-custom-blue text-custom-purple"
    [href]="freelancer.socialLinks.github"
    target="_blank"
  >
    <ng-icon name="hugeGithub01" size="20" class="ml-1" />
  </a>
  <a
    class="hover:text-custom-blue text-custom-purple"
    [href]="'tel:' + freelancer.contact.phone"
    target="_blank"
  >
    <ng-icon name="hugeCall" size="20" class="ml-1" />
  </a>
  <a
    class="hover:text-custom-blue text-custom-purple"
    [href]="'mailto:' + freelancer.email"
    target="_blank"
  >
    <ng-icon name="hugeMail01" size="20" class="ml-1" />
  </a>

  <app-social-links [freelancer]="freelancer" />
</mat-card-footer>



<mat-card-footer
  class="social-links text-center flex justify-center border-t-2 p-1"
>
  <a
    *ngFor="let social of freelancer.profile.socialLinks"
    [href]="social.url"
    target="_blank"
    class="hover:text-custom-blue text-custom-purple"
  >
    <ng-icon [name]="getSocialIcon(social.platform)" size="20" class="ml-1" />
  </a>


  <a
    [href]="'tel:' + freelancer.contact.phone"
    target="_blank"
    class="hover:text-custom-blue text-custom-purple"
  >
    <ng-icon name="hugeCall" size="20" class="ml-1" />
  </a>


  <a
    [href]="'mailto:' + freelancer.email"
    target="_blank"
    class="hover:text-custom-blue text-custom-purple"
  >
    <ng-icon name="hugeMail01" size="20" class="ml-1" />
  </a>
</mat-card-footer>
  -->
