<header
  class="w-full text-md h-24 border-b border-border-color p-2 pr-6 box-border flex items-center justify-between"
>
  <div class="flex items-center">
    <div class="object-contain">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img
          src="/images/negishi-freelancing-logo.jpg"
          alt="Logo image"
          class="logo w-1/2"
          height="h-auto"
          width="w-full"
        />
      </a>
    </div>
    <div class="-ml-20 text-start hidden sm:block">
      <a routerLink="/">Negishi Freelancing</a>
    </div>
  </div>

  <div class="flex space-x-4">
    <a
      routerLink="/freelancer-profile"
      routerLinkActive="active"
      class="selected-freelancer"
      >Freelancer</a
    >
    <!-- '/' can be found in both links, hence the need for exact active options -->
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Listings</a
    >
    <!-- default profile has been hardcoded -->
    <a routerLink="/freelancer-personal-profile/1" routerLinkActive="active"
      >Profile</a
    >
  </div>
</header>
