<mat-card-actions class="flex justify-end">
  <button
    title="Actions"
    type="button"
    pButton
    icon="pi pi-ellipsis-h"
    (click)="menu.toggle($event)"
    class="p-button-sm w-8 h-8 hover:bg-gray-200 rounded"
  ></button>

  <p-overlayPanel #menu>
    <button
      title="Edit Freelancer"
      type="button"
      pButton
      icon="pi pi-pencil"
      (click)="editFreelancer()"
      class="p-button-sm w-full gap-1.5 h-8 mb-2 rounded hover:bg-gray-200"
    >
      Edit
    </button>
    <button
      title="Delete Freelancer"
      type="button"
      pButton
      icon="pi pi-trash"
      (click)="confirmDelete()"
      class="p-button-sm w-full h-8 rounded hover:bg-gray-200 gap-1.5"
    >
      Delete
    </button>
  </p-overlayPanel>
</mat-card-actions>

<p-confirmPopup />
