<!-- progress spinner -->
<div *ngIf="isLoading" class="flex relative items-center place-content-center">
  <mat-progress-spinner mode="indeterminate" [diameter]="50" />
</div>

<div *ngIf="!isLoading">
  <p-dialog
    [header]="header"
    [(visible)]="display"
    [modal]="true"
    [closable]="false"
    [style]="{ width: '90%', maxWidth: '55rem' }"
    class="w-full md:w-8/12 lg:w-6/12"
  >
    <!-- notifications -->
    <p-messages
      [value]="notificationService.getMessages()"
      [showTransitionOptions]="'500ms'"
      [hideTransitionOptions]="'500ms'"
      class="fixed -top-4 left-1/2 transform -translate-x-1/2 z-20 w-11/12 md:w-8/12 bg-opacity-100 lg:w-6/12"
      [closable]="false"
      [enableService]="true"
    />

    <!-- position header -->
    <ng-template pTemplate="header" class="py-3">
      <p-header class="text-start p-6 text-2xl w-full font-extrabold -mb-8">
        {{ header }}
      </p-header>

      <div class="justify-end mt-7 gap-2.5">
        <!-- freelancer active or inactive profile -->
        <span [formGroup]="freelancerForm" *ngIf="freelancer">
          <button
            title="Active or inactive profile"
            type="button"
            pButton
            [icon]="
              freelancerForm.get('isActive')?.value
                ? 'pi pi-user'
                : 'pi pi-user-minus'
            "
            iconPos="left"
            [label]="
              freelancerForm.get('isActive')?.value ? 'Active' : 'Inactive'
            "
            class="hover:bg-gray-400 rounded-lg py-2 px-4 text-white"
            [ngClass]="
              freelancerForm.get('isActive')?.value
                ? 'bg-custom-green'
                : 'bg-red-700'
            "
            (click)="toggleActive()"
          ></button>
        </span>
      </div>
    </ng-template>

    <div *ngIf="freelancer">
      <div class="flex flex-col gap-4 p-6" [formGroup]="freelancerForm">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
          <!-- freelancer first name -->
          <div class="flex flex-col">
            <label for="firstName" class="text-gray-700 font-semibold"
              >First Name:</label
            >
            <input
              class="border border-gray-300 rounded-lg p-2"
              title="Freelancer First Name Input"
              type="text"
              id="firstName"
              formControlName="firstName"
            />
            <!-- error message -->
            <div
              *ngIf="isSubmitted && freelancerForm.get('firstName')?.invalid"
              class="text-red-600 text-xs"
            >
              {{ getErrorMessage("firstName") }}
            </div>
          </div>

          <!-- freelancer last name -->
          <div class="flex flex-col">
            <label for="lastName" class="text-gray-700 font-semibold"
              >Last Name:</label
            >
            <input
              class="border border-gray-300 rounded-lg p-2"
              title="Freelancer Last Name Input"
              type="text"
              id="lastName"
              formControlName="lastName"
            />
            <!-- error message -->
            <div
              *ngIf="isSubmitted && freelancerForm.get('lastName')?.invalid"
              class="text-red-600 text-xs"
            >
              {{ getErrorMessage("lastName") }}
            </div>
          </div>

          <!-- freelancer email -->
          <div class="flex flex-col">
            <label for="email" class="text-gray-700 font-semibold"
              >Email:</label
            >
            <input
              class="border border-gray-300 rounded-lg p-2"
              title="Freelancer Email Input"
              type="email"
              id="email"
              formControlName="email"
            />
            <!-- error message -->
            <div
              *ngIf="isSubmitted && freelancerForm.get('email')?.invalid"
              class="text-red-600 text-xs"
            >
              {{ getErrorMessage("email") }}
            </div>
          </div>

          <!-- freelancer username -->
          <div class="flex flex-col">
            <label for="username" class="text-gray-700 font-semibold"
              >Username:</label
            >
            <input
              class="border border-gray-300 rounded-lg p-2"
              title="Freelancer Username Input"
              type="text"
              id="username"
              formControlName="username"
            />
            <!-- error message -->
            <div
              *ngIf="isSubmitted && freelancerForm.get('username')?.invalid"
              class="text-red-600 text-xs"
            >
              {{ getErrorMessage("username") }}
            </div>
          </div>

          <!-- freelancer role -->
          <div class="flex flex-col">
            <label for="role" class="text-gray-700 font-semibold">Role:</label>
            <select
              class="border border-gray-300 rounded-lg py-2.5 pl-1"
              title="Freelancer Role Input"
              id="role"
              formControlName="role"
            >
              <option value="" disabled selected>Select Role</option>
              <option value="freelancer">Freelancer</option>
            </select>
            <!-- error message -->
            <div
              *ngIf="isSubmitted && freelancerForm.get('role')?.invalid"
              class="text-red-600 text-xs"
            >
              {{ getErrorMessage("role") }}
            </div>
          </div>

          <!-- profile picture -->
          <div
            class="flex flex-col"
            *ngIf="freelancer?.profile"
            formGroupName="profile"
          >
            <label for="picture" class="text-gray-700 font-semibold"
              >Profile Picture:</label
            >
            <input
              class="border border-gray-300 rounded-lg p-2"
              title="Freelancer Profile Picture Input"
              type="text"
              id="picture"
              formControlName="picture"
            />
            <!-- error message -->
            <div
              *ngIf="
                isSubmitted && freelancerForm.get('profile.picture')?.invalid
              "
              class="text-red-600 text-xs"
            >
              {{ getErrorMessage("profile.picture") }}
            </div>
          </div>
        </div>

        <div
          *ngIf="freelancer?.profile"
          formGroupName="profile"
          class="space-y-4"
        >
          <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
            <!-- job title -->
            <div class="flex flex-col">
              <label for="jobTitle" class="text-gray-700 font-semibold"
                >Job Title:</label
              >
              <input
                class="border border-gray-300 rounded-lg p-2"
                title="Freelancer Job Title Input"
                type="text"
                id="jobTitle"
                formControlName="jobTitle"
              />
              <!-- error message -->
              <div
                *ngIf="
                  isSubmitted && freelancerForm.get('profile.jobTitle')?.invalid
                "
                class="text-red-600 text-xs"
              >
                {{ getErrorMessage("jobTitle") }}
              </div>
            </div>

            <!-- hourly rate -->
            <div class="flex flex-col">
              <label for="hourlyRate" class="text-gray-700 font-semibold"
                >Hourly Rate:</label
              >
              <input
                class="border border-gray-300 rounded-lg p-2"
                title="Freelancer Hourly Rate Input"
                type="number"
                id="hourlyRate"
                step="any"
                formControlName="hourlyRate"
              />
              <!-- error message -->
              <div
                *ngIf="
                  isSubmitted &&
                  freelancerForm.get('profile.hourlyRate')?.invalid
                "
                class="text-red-600 text-xs"
              >
                {{ getErrorMessage("hourlyRate") }}
              </div>
            </div>

            <!-- availability -->
            <div class="flex flex-col">
              <label for="availability" class="text-gray-700 font-semibold"
                >Availability:</label
              >
              <select
                class="border border-gray-300 rounded-lg py-2.5 pl-1 mt-0.5"
                title="Freelancer Availability Input"
                id="availability"
                formControlName="availability"
              >
                <option value="" disabled selected>Specify Availability</option>
                <option value="Part-time">Part-time</option>
                <option value="Full-time">Full-time</option>
                <option value="Contract">Contract</option>
                <option value="Weekends">Weekends</option>
                <option value="Weekdays">Weekdays</option>
              </select>
              <!-- error message -->
              <div
                *ngIf="
                  isSubmitted &&
                  freelancerForm.get('profile.availability')?.invalid
                "
                class="text-red-600 text-xs"
              >
                {{ getErrorMessage("availability") }}
              </div>
            </div>

            <!-- city -->
            <div class="flex flex-col">
              <label for="city" class="text-gray-700 font-semibold"
                >City:</label
              >
              <input
                class="border border-gray-300 rounded-lg p-2"
                title="Freelancer City Input"
                type="text"
                id="city"
                formControlName="city"
              />
              <!-- error message -->
              <div
                *ngIf="
                  isSubmitted && freelancerForm.get('profile.city')?.invalid
                "
                class="text-red-600 text-xs"
              >
                {{ getErrorMessage("city") }}
              </div>
            </div>

            <!-- state -->
            <div class="flex flex-col">
              <label for="state" class="text-gray-700 font-semibold"
                >State:</label
              >
              <input
                class="border border-gray-300 rounded-lg p-2"
                title="Freelancer State Input"
                type="text"
                id="state"
                formControlName="state"
              />
              <!-- error message -->
              <div
                *ngIf="
                  isSubmitted && freelancerForm.get('profile.state')?.invalid
                "
                class="text-red-600 text-xs"
              >
                {{ getErrorMessage("state") }}
              </div>
            </div>

            <!-- country -->
            <div class="flex flex-col">
              <label for="country" class="text-gray-700 font-semibold"
                >Country:</label
              >
              <input
                class="border border-gray-300 rounded-lg p-2"
                title="Freelancer Country Input"
                type="text"
                id="country"
                formControlName="country"
              />
              <!-- error message -->
              <div
                *ngIf="
                  isSubmitted && freelancerForm.get('profile.country')?.invalid
                "
                class="text-red-600 text-xs"
              >
                {{ getErrorMessage("country") }}
              </div>
            </div>
          </div>

          <!-- description -->
          <div class="flex flex-col">
            <label for="description" class="text-gray-700 font-semibold"
              >Description:</label
            >
            <textarea
              class="border border-gray-300 rounded-lg p-2"
              title="Freelancer Description Input"
              rows="3"
              id="description"
              formControlName="description"
            ></textarea>
            <!-- error message -->
            <div
              *ngIf="
                isSubmitted &&
                freelancerForm.get('profile.description')?.invalid
              "
              class="text-red-600 text-xs"
            >
              {{ getErrorMessage("description") }}
            </div>
          </div>

          <!-- bio -->
          <div class="flex flex-col">
            <label for="bio" class="text-gray-700 font-semibold">Bio:</label>
            <textarea
              class="border border-gray-300 rounded-lg p-2"
              title="Freelancer Bio Input"
              rows="3"
              id="bio"
              formControlName="bio"
            ></textarea>
            <!-- error message -->
            <div
              *ngIf="isSubmitted && freelancerForm.get('profile.bio')?.invalid"
              class="text-red-600 text-xs"
            >
              {{ getErrorMessage("bio") }}
            </div>
          </div>

          <div class="profile-arrays">
            <!-- skills -->
            <div
              *ngIf="freelancerForm.get('profile.skills')"
              formArrayName="skills"
            >
              <div
                class="flex justify-start place-content-center place-items-center mb-2 mt-2 pt-2"
              >
                <span class="font-semibold mt-1 text-lg">Skills</span>
                <button
                  title="Add New Skill"
                  type="button"
                  pButton
                  icon="pi pi-plus-circle"
                  (click)="addSkill()"
                  class="bg-transparent -mb-1 -ml-2"
                ></button>
              </div>

              <div
                *ngFor="let skill of skillsArray.controls; let i = index"
                [formGroupName]="i"
                class="flex py-1"
              >
                <button
                  disabled
                  class="bg-gray-200 text-gray-700 font-medium w-1/12 mr-4 rounded p-1 text-center"
                  title="Item {{ i + 1 }}"
                >
                  {{ i + 1 }}
                </button>
                <span class="gap-1 w-full flex justify-between">
                  <input
                    class="border border-gray-300 rounded-lg p-2 w-1/2"
                    title="Freelancer Skill Input"
                    type="text"
                    formControlName="name"
                    placeholder="Name"
                  />
                  <select
                    class="border border-gray-300 rounded-lg py-1 pl-1 -mt-0.5 w-1/2"
                    title="Freelancer Skill Level Input"
                    formControlName="level"
                  >
                    <option selected disabled value="">Select Level</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Expert">Expert</option>
                  </select>
                </span>
                <button
                  type="button"
                  pButton
                  icon="pi pi-times"
                  (click)="removeSkill(i)"
                  class="hover:bg-gray-200 rounded w-10 h-10 ml-2"
                  title="Remove Skill"
                ></button>
              </div>

              <div
                *ngIf="isSubmitted && skillsArray.errors?.['allFieldsRequired']"
                class="text-red-600 text-xs"
              >
                {{ getErrorMessage("profile.skills") }}
              </div>
            </div>

            <!-- social links -->
            <div
              *ngIf="freelancerForm.get('profile.socialLinks')"
              formArrayName="socialLinks"
            >
              <div
                class="flex justify-start place-content-center place-items-center mb-2 mt-2 pt-2"
              >
                <span class="font-semibold mt-1 text-lg">Social Links</span>
                <button
                  title="Add New Social Link"
                  type="button"
                  pButton
                  icon="pi pi-plus-circle"
                  (click)="addSocialLink()"
                  class="bg-transparent -mb-1 -ml-2"
                ></button>
              </div>

              <div
                *ngFor="
                  let socialLink of socialLinksArray.controls;
                  let i = index
                "
                [formGroupName]="i"
                class="flex py-1"
              >
                <button
                  disabled
                  class="bg-gray-200 text-gray-700 font-medium w-1/12 mr-4 rounded p-1 text-center"
                  title="Item {{ i + 1 }}"
                >
                  {{ i + 1 }}
                </button>
                <span class="gap-1 w-full flex justify-between">
                  <input
                    class="border border-gray-300 rounded-lg p-2 w-1/2"
                    title="Freelancer Social Link Platform Input"
                    type="text"
                    formControlName="platform"
                    placeholder="Platform"
                  />
                  <input
                    class="border border-gray-300 rounded-lg p-2 w-1/2"
                    title="Freelancer Social Link URL Platform Input"
                    type="text"
                    formControlName="url"
                    placeholder="Link"
                  />
                </span>
                <button
                  type="button"
                  pButton
                  icon="pi pi-times"
                  (click)="removeSocialLink(i)"
                  class="hover:bg-gray-200 rounded w-10 h-10 ml-2"
                  title="Remove Social Link"
                ></button>
              </div>

              <div
                *ngIf="isSubmitted && socialLinksArray.errors?.['allFieldsRequired']"
                class="text-red-600 text-xs"
              >
                {{ getErrorMessage("profile.socialLinks") }}
              </div>
            </div>

            <!-- portfolio items -->
            <div
              *ngIf="freelancerForm.get('profile.portfolioItems')"
              formArrayName="portfolioItems"
            >
              <div
                class="flex justify-start place-content-center place-items-center mb-2 mt-2 pt-2"
              >
                <span class="font-semibold mt-1 text-lg">Portfolio</span>
                <button
                  title="Add New Portfolio Item"
                  type="button"
                  pButton
                  icon=" pi pi-plus-circle"
                  (click)="addPortfolioItem()"
                  class="bg-transparent -mb-1 -ml-2"
                ></button>
              </div>

              <div
                *ngFor="
                  let portfolioItem of portfolioItemsArray.controls;
                  let i = index
                "
                [formGroupName]="i"
                class="flex py-1"
              >
                <button
                  disabled
                  class="bg-gray-200 text-gray-700 font-medium w-1/12 mr-4 rounded p-1 text-center"
                  title="Item {{ i + 1 }}"
                >
                  {{ i + 1 }}
                </button>
                <span class="gap-1 w-full flex justify-between">
                  <input
                    class="border border-gray-300 rounded-lg p-2 w-1/3"
                    title="Freelancer Portfolio Item Title Input"
                    type="text"
                    formControlName="title"
                    placeholder="Title"
                  />
                  <input
                    class="border border-gray-300 rounded-lg p-2 w-1/3"
                    title="Freelancer Portfolio Item Link Input"
                    type="url"
                    formControlName="url"
                    placeholder="Link"
                  />
                  <input
                    class="border border-gray-300 rounded-lg p-2 w-1/3"
                    title="Freelancer Portfolio Item Description Input"
                    type="text"
                    formControlName="description"
                    placeholder="Description"
                  />
                </span>
                <button
                  type="button"
                  pButton
                  icon="pi pi-times"
                  (click)="removePortfolioItem(i)"
                  class="hover:bg-gray-200 rounded w-10 h-10 ml-2"
                  title="Remove Portfolio Item"
                ></button>
              </div>

              <div
                *ngIf="isSubmitted && portfolioItemsArray.errors?.['atLeastOneFieldRequired']"
                class="text-red-600 text-xs"
              >
                {{ getErrorMessage("profile.portfolioItems") }}
              </div>
            </div>

            <!-- experiences -->
            <div
              *ngIf="freelancerForm.get('profile.experiences')"
              formArrayName="experiences"
            >
              <div
                class="flex justify-start mb-2 mt-2 pt-2 place-content-center place-items-center"
              >
                <span class="font-semibold mt-1 text-lg">Experiences</span>
                <button
                  title="Add New Experience"
                  type="button"
                  pButton
                  icon=" pi pi-plus-circle"
                  (click)="addExperience()"
                  class="bg-transparent -mb-1 -ml-2"
                ></button>
              </div>

              <div
                *ngFor="
                  let experience of experiencesArray.controls;
                  let i = index
                "
                [formGroupName]="i"
                class="flex py-1"
              >
                <button
                  disabled
                  class="bg-gray-200 text-gray-700 font-medium mr-4 w-1/12 rounded p-1 text-center"
                  title="Item {{ i + 1 }}"
                >
                  {{ i + 1 }}
                </button>
                <span class="gap-1 w-full flex flex-col">
                  <span class="flex justify-between gap-1">
                    <input
                      class="border border-gray-300 rounded-lg p-2 w-1/3"
                      title="Company"
                      type="text"
                      formControlName="company"
                      placeholder="Company"
                    />
                    <input
                      class="border border-gray-300 rounded-lg p-2 w-1/3"
                      title="Position"
                      type="text"
                      formControlName="position"
                      placeholder="Position"
                    />
                    <input
                      class="border border-gray-300 rounded-lg p-2 w-1/3"
                      title="Position"
                      type="text"
                      formControlName="description"
                      placeholder="Description"
                    />
                  </span>

                  <span class="flex justify-between mt-1 gap-1">
                    <input
                      class="border border-gray-300 rounded-lg p-2 w-1/2 flex-grow min-w-0"
                      title="Start Date"
                      type="date"
                      formControlName="startDate"
                    />
                    <span class="place-items-center place-content-center"
                      >-</span
                    >
                    <input
                      class="border border-gray-300 rounded-lg p-2 w-1/2 flex-grow min-w-0"
                      title="End Date"
                      type="date"
                      formControlName="endDate"
                    />
                    <button
                      type="button"
                      pButton
                      icon="pi pi-times"
                      (click)="removeExperience(i)"
                      class="hover:bg-gray-200 rounded w-10 h-10 ml-2"
                      title="Remove Experience"
                    ></button>
                  </span>
                </span>
              </div>

              <div
                *ngIf="isSubmitted && experiencesArray.errors?.['atLeastOneFieldRequired']"
                class="text-red-600 text-xs"
              >
                {{ getErrorMessage("profile.experiences") }}
              </div>
            </div>

            <!-- certifications -->
            <div
              *ngIf="freelancerForm.get('profile.certifications')"
              formArrayName="certifications"
            >
              <div
                class="flex justify-start place-content-center place-items-center mb-2 mt-2 pt-2"
              >
                <span class="font-semibold mt-1 text-lg">Certifications</span>
                <button
                  title="Add New Certification"
                  type="button"
                  pButton
                  icon=" pi pi-plus-circle"
                  (click)="addCertification()"
                  class="bg-transparent -mb-1 -ml-2"
                ></button>
              </div>

              <div
                *ngFor="
                  let certification of certificationsArray.controls;
                  let i = index
                "
                [formGroupName]="i"
                class="flex py-1"
              >
                <button
                  disabled
                  class="bg-gray-200 text-gray-700 font-medium w-1/12 mr-4 rounded p-1 text-center"
                  title="Item {{ i + 1 }}"
                >
                  {{ i + 1 }}
                </button>
                <span class="gap-1 w-full flex flex-col">
                  <span class="flex justify-between gap-1">
                    <input
                      class="border border-gray-300 rounded-lg p-2 w-2/4"
                      title="Certification Name"
                      type="text"
                      formControlName="name"
                      placeholder="Name"
                    />
                    <input
                      class="border border-gray-300 rounded-lg p-2 w-2/4"
                      title="Issuer"
                      type="text"
                      formControlName="issuingOrganization"
                      placeholder="Issuer"
                    />
                  </span>
                  <span class="flex justify-between mt-1 gap-1">
                    <input
                      class="border border-gray-300 rounded-lg p-2 w-1/2 flex-grow min-w-0"
                      title="Issue Date"
                      type="date"
                      formControlName="issueDate"
                    />
                    <span class="place-items-center place-content-center"
                      >-</span
                    >
                    <input
                      class="border border-gray-300 rounded-lg p-2 w-1/2 flex-grow min-w-0"
                      title="Expiration Date"
                      type="date"
                      formControlName="expirationDate"
                    />
                    <button
                      type="button"
                      pButton
                      icon="pi pi-times"
                      (click)="removeCertification(i)"
                      class="hover:bg-gray-200 rounded w-10 h-10 ml-2"
                      title="Remove Certification"
                    ></button>
                  </span>
                </span>
              </div>

              <div
                *ngIf="isSubmitted && certificationsArray.errors?.['atLeastOneFieldRequired']"
                class="text-red-600 text-xs"
              >
                {{ getErrorMessage("profile.certifications") }}
              </div>
            </div>

            <!-- education -->
            <div
              *ngIf="freelancerForm.get('profile.education')"
              formArrayName="education"
            >
              <div
                class="flex justify-start place-content-center place-items-center mb-2 mt-2 pt-2"
              >
                <span class="font-semibold mt-1 text-lg">Education</span>
                <button
                  title="Add New Education"
                  type="button"
                  pButton
                  icon=" pi pi-plus-circle"
                  (click)="addEducation()"
                  class="bg-transparent -mb-1 -ml-2"
                ></button>
              </div>
              <div
                *ngFor="let education of educationArray.controls; let i = index"
                [formGroupName]="i"
                class="flex py-1"
              >
                <button
                  disabled
                  class="bg-gray-200 text-gray-700 font-medium w-1/12 mr-4 rounded p-1 text-center"
                  title="Item {{ i + 1 }}"
                >
                  {{ i + 1 }}
                </button>
                <span class="gap-1 w-full flex flex-col">
                  <span class="flex justify-between gap-1">
                    <input
                      class="border border-gray-300 rounded-lg p-2 w-1/3"
                      title="Institution"
                      type="text"
                      formControlName="institution"
                      placeholder="Institution"
                    />
                    <input
                      class="border border-gray-300 rounded-lg p-2 w-1/3"
                      title="Degree"
                      type="text"
                      formControlName="degree"
                      placeholder="Degree"
                    />
                    <input
                      class="border border-gray-300 rounded-lg p-2 w-1/3"
                      title="Field"
                      type="text"
                      formControlName="fieldOfStudy"
                      placeholder="Field"
                    />
                  </span>
                  <span class="flex justify-between mt-1 gap-1">
                    <input
                      class="border border-gray-300 rounded-lg p-2 w-1/2 flex-grow min-w-0"
                      title="Start Date"
                      type="date"
                      formControlName="startDate"
                    />
                    <span class="place-items-center place-content-center"
                      >-</span
                    >
                    <input
                      class="border border-gray-300 rounded-lg p-2 w-1/2 flex-grow min-w-0"
                      title="End Date"
                      type="date"
                      formControlName="endDate"
                    />
                    <button
                      type="button"
                      pButton
                      icon="pi pi-times"
                      (click)="removeEducation(i)"
                      class="hover:bg-gray-200 rounded w-10 h-10 ml-2"
                      title="Remove Education"
                    ></button>
                  </span>
                </span>
              </div>

              <div
                *ngIf="isSubmitted && educationArray.errors?.['atLeastOneFieldRequired']"
                class="text-red-600 text-xs"
              >
                {{ getErrorMessage("profile.education") }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p-footer>
      <!-- action buttons -->
      <div class="justify-end mt-6 gap-2.5 flex -mb-1">
        <button
          title="Confirm"
          type="button"
          pButton
          icon="pi pi-check"
          (click)="onConfirm()"
          label="Confirm"
          class="bg-gray-400 hover:bg-gray-500 text-white py-2 px-4 rounded-lg disabled:opacity-70"
        ></button>
        <button
          title="Discard"
          type="button"
          pButton
          icon="pi pi-times"
          (click)="onCancel()"
          label="Cancel"
          class="bg-gray-800 hover:bg-gray-900 text-white py-2 px-6 rounded-lg"
        ></button>
      </div>
    </p-footer>
  </p-dialog>
</div>
