<!-- progress spinner -->
<div
  *ngIf="isLoading"
  class="flex justify-center -mt-28 items-center h-screen place-content-center"
>
  <mat-progress-spinner mode="indeterminate" [diameter]="50" />
</div>

<div *ngIf="!isLoading">
  <!-- edit freelancer button | pi-user-edit -->
  <div class="rounded-full z-50">
    <button
      title="Edit Freelancer Button"
      type="button"
      pButton
      icon="pi pi-pencil"
      (click)="toggleEditPopup(freelancer)"
      class="edit-freelancer-button text-2xl rounded-full p-2 fixed bottom-2.5 right-2.5 z-10 text-white bg-black shadow-md transition-shadow hover:shadow-md shadow-neutral-800"
    ></button>
  </div>

  <!-- notifications -->
  <p-messages
    [value]="notificationService.getMessages()"
    [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'500ms'"
    class="fixed top-5 left-1/2 transform -translate-x-1/2 z-20 w-11/12 md:w-8/12 bg-opacity-100 lg:w-6/12"
    [closable]="false"
    [enableService]="true"
  />

  <div>
    <!-- display nested data -->
    <app-profile-elements [freelancer]="freelancer" />
  </div>

  <!-- edit freelancer popup: initialise component to edit freelancer -->
  <app-edit-popup
    [freelancer]="selectedFreelancer"
    [(display)]="displayEditPopup"
    (confirm)="onConfirmEdit($event)"
    header="Edit Freelancer Profile"
  />
</div>
