<!-- display freelancer reviews -->
<div *ngIf="freelancer.profile.reviews.length > 0">
  <mat-card class="review p-4" appearance="outlined">
    <p class="font-bold mb-4 text-xl">Reviews</p>
    <hr />
    <div class="justify-center -mb-3 mt-1">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let review of freelancer.profile.reviews">
          <ng-template carouselSlide>
            <div class="justify-center">
              <mat-card-title>
                <div class="rating-container">
                  <p-rating
                    [ngModel]="review.rating"
                    [readonly]="true"
                    iconCancelClass="hidden"
                    class="review-rating"
                    stars="5"
                  />
                </div>
              </mat-card-title>
              <mat-card-subtitle class="font-semibold">
                Client ID: {{ review.clientId }}
              </mat-card-subtitle>
            </div>
            <div class="mt-0 text-gray-500 text-xs font-semibold">
              <!-- built-in date pipe -->
              {{ review.createdAt | date : "MMM y" }} ∙
              {{ review.createdAt | calendarPeriod : "" }} ago
            </div>
            <div class="my-2 text-gray-700">
              {{ review.comment }}
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </mat-card>
</div>
