/*
spin animation
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

spin effect on hover
.add-freelancer-button:hover {
  animation: spin 2s linear;
}
*/
